<div class="site-section site-section-sm bg-light">
<div class="container">
    <div class="row mb-5 justify-content-center">
    <div class="col-md-7">
        <div class="site-section-title text-center">
        <h2>Our Agents</h2>
        </div>
    </div>
    </div>
    <div class="row block-13">
    <div class="nonloop-block-13 owl-carousel">
        <div class="slide-item">
            <div class="team-member text-center">
                <img src="{{ asset('assets/homespace/images/person_1.jpg') }}" alt="Image" class="img-fluid mb-4 w-50 rounded-circle mx-auto">
                <div class="text p-3">
                    <h2 class="mb-2 font-weight-light text-black h4">Engr. John-Reynald L. Narciso</h2>
                    <span class="d-block mb-3 text-white-opacity-05">Real Estate Agent</span>
                    <p>john.narciso@milestone.com</p>
                    <p>
                        <a href="#" class="text-black p-2"><span class="icon-facebook"></span></a>
                        <a href="#" class="text-black p-2"><span class="icon-twitter"></span></a>
                        <a href="#" class="text-black p-2"><span class="icon-linkedin"></span></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <div class="team-member text-center">
                <img src="{{ asset('assets/homespace/images/person_2.jpg') }}" alt="Image" class="img-fluid mb-4 w-50 rounded-circle mx-auto">
                <div class="text p-3">
                    <h2 class="mb-2 font-weight-light text-black h4">Sarah Marguarette Buscato</h2>
                    <span class="d-block mb-3 text-white-opacity-05">Real Estate Agent</span>
                    <p>sarah.buscato@milestone.com</p>
                    <p>
                        <a href="#" class="text-black p-2"><span class="icon-facebook"></span></a>
                        <a href="#" class="text-black p-2"><span class="icon-twitter"></span></a>
                        <a href="#" class="text-black p-2"><span class="icon-linkedin"></span></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <div class="team-member text-center">
                <img src="{{ asset('assets/homespace/images/person_3.jpg') }}" alt="Image" class="img-fluid mb-4 w-50 rounded-circle mx-auto">
                <div class="text p-3">
                    <h2 class="mb-2 font-weight-light text-black h4">Amado Cordova</h2>
                    <span class="d-block mb-3 text-white-opacity-05">Real Estate Agent</span>
                    <p>amado.cordova@milestone.com</p>
                    <p>
                        <a href="#" class="text-black p-2"><span class="icon-facebook"></span></a>
                        <a href="#" class="text-black p-2"><span class="icon-twitter"></span></a>
                        <a href="#" class="text-black p-2"><span class="icon-linkedin"></span></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <div class="team-member text-center">
                <img src="{{ asset('assets/homespace/images/person_1.jpg') }}" alt="Image" class="img-fluid mb-4 w-50 rounded-circle mx-auto">
                <div class="text p-3">
                    <h2 class="mb-2 font-weight-light text-black h4">Carolina Jomao-as</h2>
                    <span class="d-block mb-3 text-white-opacity-05">Real Estate Agent</span>
                    <p>carolina.jomao-as@milestone.com</p>
                    <p>
                        <a href="#" class="text-black p-2"><span class="icon-facebook"></span></a>
                        <a href="#" class="text-black p-2"><span class="icon-twitter"></span></a>
                        <a href="#" class="text-black p-2"><span class="icon-linkedin"></span></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="slide-item">
        <div class="team-member text-center">
            <img src="{{ asset('assets/milestone/agents/villalon.jpg') }}" alt="Image" class="img-fluid mb-4 w-50 rounded-circle mx-auto">
            <div class="text p-3">
                <h2 class="mb-2 font-weight-light text-black h4">Michael Villalon</h2>
                <span class="d-block mb-3 text-white-opacity-05">Real Estate Agent</span>
                <p>michael.villalon@milestone.com</p>
                <p>
                    <a href="#" class="text-black p-2"><span class="icon-facebook"></span></a>
                    <a href="#" class="text-black p-2"><span class="icon-twitter"></span></a>
                    <a href="#" class="text-black p-2"><span class="icon-linkedin"></span></a>
                </p>
            </div>
        </div>
        </div>
    </div>
    </div>
    </div>
</div>
