<!-- Title Begin -->
<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(assets/milestone/images/hero_bg_2.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
    <div class="row align-items-center justify-content-center text-center">
        <div class="col-md-10">
        <h1 class="mb-2">Our Services</h1>
        <div><a href="{{ path('home')}}">Home</a> <span class="mx-2 text-white">&bullet;</span> <strong class="text-white">Services</strong></div>
        </div>
    </div>
    </div>
</div>
<!-- Title End -->

<!-- Services Section Begin -->
<div class="site-section border-bottom">
    <div class="container">
    <div class="row align-items-center">
        <div class="col-md-3" data-aos="fade-up" data-aos-delay="100">
            <img src="{{ asset('assets/milestone/images/services/land_title.jpg') }}" alt="Land Titling" class="img-fluid">
        </div>
        <div class="col-md-9 ml-auto"  data-aos="fade-up" data-aos-delay="200">
        <div class="site-section-title mb-3">
            <h2>Land Titling</h2>
        </div>
        <ol type="A">
            <li>Procedural transfer of ownership either quick processing or regular processing.
            Example: Transfer of ownership between Tax Declaration to Transfer of Certificate of Title or Original Certificate of Title.</li>
            <li>Assistance on Application of Forestal Areas</li>
            <li>Conversion process coexisting on Agricultural to Residential, Commercial or Industrial.</li>
        </ol>
        </div>
    </div>
    </div>
</div>

<div class="site-section border-bottom">
    <div class="container">
    <div class="row align-items-center">
        <div class="col-md-3" data-aos="fade-up" data-aos-delay="100">
            <img src="{{ asset('assets/milestone/images/services/surveying_equipment.jpg') }}" alt="Surveying" class="img-fluid" width="400" height="600">
        </div>
        <div class="col-md-9 ml-auto"  data-aos="fade-up" data-aos-delay="200">
        <div class="site-section-title mb-3">
            <h2>Surveying</h2>
        </div>
        <ol type="A">
            <li>Relocation of Properties</li>
            <li>Subdivision on Properties</li>
        </ol>
        </div>
    </div>
    </div>
</div>

<div class="site-section border-bottom">    
    <div class="container">
    <div class="row align-items-center">
        <div class="col-md-3" data-aos="fade-up" data-aos-delay="100">
            <img src="{{ asset('assets/milestone/images/services/land_verification.jpg') }}" alt="Land Verification" class="img-fluid">
        </div>
        <div class="col-md-9 ml-auto"  data-aos="fade-up" data-aos-delay="200">
        <div class="site-section-title mb-3">
            <h2>Land Verification and Status</h2>
        </div>
        <ol type="A">
            <li>Lot Research on claims, ownership and less pendens.</li>
            <li>Lot states on proof of ownership and updates.</li>
        </ol>
        </div>
    </div>
    </div>
</div>

<div class="site-section border-bottom">
    <div class="container">
    <div class="row align-items-center">
        <div class="col-md-3" data-aos="fade-up" data-aos-delay="100">
            <img src="{{ asset('assets/milestone/images/services/mortgage.jpg') }}" alt="Mortgage" class="img-fluid">
        </div>
        <div class="col-md-9 ml-auto"  data-aos="fade-up" data-aos-delay="200">
        <div class="site-section-title mb-3">
            <h2>Real Estate Mortgage</h2>
        </div>
        <ol type="A">
            <li>Status on Real Estate Mortgage and processing of Real Estate Mortgage, release, cancelation and annotation.</li>
            <li>Financial Instituion research of Financial Assistance through Real Estate Mortgage.</li>
        </ol>
        </div>
    </div>
    </div>
</div>

<div class="site-section border-bottom">
    <div class="container">
    <div class="row align-items-center">
        <div class="col-md-3" data-aos="fade-up" data-aos-delay="100">
            <img src="{{ asset('assets/milestone/images/services/renting_leasing.jpg') }}" alt="Leasing/Renting" class="img-fluid">
        </div>
        <div class="col-md-9 ml-auto"  data-aos="fade-up" data-aos-delay="200">
        <div class="site-section-title mb-3">
            <h2>Leasing and Renting</h2>
        </div>
        <ol type="A">
            <li>Offer properties available on renting and leasing</li>
            <li>Offer vehicle available on renting</li>
        </ol>
        </div>
    </div>
    </div>
</div>

<div class="site-section border-bottom">
    <div class="container">
    <div class="row align-items-center">
        <div class="col-md-3" data-aos="fade-up" data-aos-delay="100">
            <img src="{{ asset('assets/milestone/images/services/tour.jpg') }}" alt="Tour" class="img-fluid">
        </div>
        <div class="col-md-9 ml-auto"  data-aos="fade-up" data-aos-delay="200">
        <div class="site-section-title mb-3">
            <h2>Tourist Tour</h2>
        </div>
        <ol type="A">
            <li>Hotel Booking</li>
            <li>List of Affordable Hotels, Lodging House or AirBnb</li>
            <li>Tour on Tourist Spots</li>
        </ol>
        </div>
    </div>
    </div>
</div>

<div class="site-section border-bottom">
    <div class="container">
    <div class="row align-items-center">
        <div class="col-md-3" data-aos="fade-up" data-aos-delay="100">
            <img src="{{ asset('assets/milestone/images/services/community_mortgage.jpeg') }}" alt="Community Mortgage Program" class="img-fluid">
        </div>
        <div class="col-md-9 ml-auto"  data-aos="fade-up" data-aos-delay="200">
        <div class="site-section-title mb-3">
            <h2>Community Mortgage Program</h2>
        </div>
        <ol type="A">
            <li>Offer Assistance on Community Mortgage Program</li>
        </ol>
        </div>
    </div>
    </div>
</div>
<!-- Services Section End -->
