<div class="site-section site-section-sm bg-light">
<div class="container">
    <div class="row mb-5 justify-content-center">
    <div class="col-md-7">
        <div class="site-section-title text-center">
        <h2>Meet Our Agents</h2>
        </div>
    </div>
    </div>
    <div class="row block-13">
    <div class="nonloop-block-13 owl-carousel">
        <div class="slide-item">
            <div class="team-member text-center">
                <img src="{{ asset('assets/milestone/agents/narciso_new_1.jpg') }}" alt="Image" class="img-fluid mb-4 w-50 rounded-circle mx-auto">
                <div class="text p-3">
                    <h2 class="mb-2 font-weight-light text-black h4">Engr. John-Reynald L. Narciso</h2>
                    <span class="d-block mb-3 text-white-opacity-05">Real Estate Agent</span>
                    <p><a href="mailto:john.narciso@milestone.com">john.narciso@milestone.com</a></p>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <div class="team-member text-center">
                <img src="{{ asset('assets/milestone/agents/buscato_1.jpg') }}" alt="Image" class="img-fluid mb-4 w-50 rounded-circle mx-auto">
                <div class="text p-3">
                    <h2 class="mb-2 font-weight-light text-black h4">Sarah Marguarette Buscato</h2>
                    <span class="d-block mb-3 text-white-opacity-05">Real Estate Agent</span>
                    <p><a href="mailto:sarah.buscato@milestone.com">sarah.buscato@milestone.com</a></p>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <div class="team-member text-center">
                <img src="{{ asset('assets/milestone/images/person_1.jpg') }}" alt="Image" class="img-fluid mb-4 w-50 rounded-circle mx-auto">
                <div class="text p-3">
                    <h2 class="mb-2 font-weight-light text-black h4">Amado Cordova</h2>
                    <span class="d-block mb-3 text-white-opacity-05">Real Estate Agent</span>
                    <p><a href="mailto:amado.cordova@milestone.com">amado.cordova@milestone.com</a></p>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <div class="team-member text-center">
                <img src="{{ asset('assets/milestone/images/person_2.jpg') }}" alt="Image" class="img-fluid mb-4 w-50 rounded-circle mx-auto">
                <div class="text p-3">
                    <h2 class="mb-2 font-weight-light text-black h4">Carolina Jomao-as</h2>
                    <span class="d-block mb-3 text-white-opacity-05">Real Estate Agent</span>
                    <p><a href="mailto:carolina.jomao-as@milestone.com">carolina.jomao-as@milestone.com</a></p>
                </div>
            </div>
        </div>
        <div class="slide-item">
        <div class="team-member text-center">
            <img src="{{ asset('assets/milestone/agents/villalon_1.jpg') }}" alt="Image" class="img-fluid mb-4 w-50 rounded-circle mx-auto">
            <div class="text p-3">
                <h2 class="mb-2 font-weight-light text-black h4">Michael Villalon</h2>
                <span class="d-block mb-3 text-white-opacity-05">Real Estate Agent</span>
                <p><a href="mailto:michael.villalon@milestone.com">michael.villalon@milestone.com</a></p>
            </div>
        </div>
        </div>
    </div>
    </div>
    </div>
</div>
