<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Milestone{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500"> 
            <link rel="stylesheet" href="{{ asset('assets/homespace/fonts/icomoon/style.css') }}">

            <link rel="stylesheet" href="{{ asset('assets/homespace/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/homespace/css/magnific-popup.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/homespace/css/jquery-ui.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/homespace/css/owl.carousel.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/homespace/css/owl.theme.default.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/homespace/css/bootstrap-datepicker.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/homespace/css/mediaelementplayer.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/homespace/css/animate.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/homespace/fonts/flaticon/font/flaticon.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/homespace/css/fl-bigmug-line.css') }}">

            <link rel="stylesheet" href="{{ asset('assets/homespace/css/aos.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/homespace/css/style.css') }}">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block body %}
    <div class="site-loader"></div>
    <div class="site-wrap">
        <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->
        
        <!-- Shortcuts Begin -->
        {% include "homespace/shortcuts.html.twig" %}
        <!-- Shortcuts End -->

        <!-- Navigation Section Begin -->
        {% include "homespace/navigation.html.twig" %}
        <!-- Navigation Section Begin -->

        <!-- Slider Section Begin -->
        {% include "homespace/slider.html.twig" %}
        <!-- Slider Section Begin -->

        <!-- Search Section Begin -->
        {% include "homespace/search.html.twig" %}
        <!-- Search Section End -->

        <!-- About Properties Section Begin -->
        {% include "homespace/about.properties.html.twig" %}
        <!-- About Properties Section End -->

        <!-- Properties Section Begin -->
        {% include "homespace/new.properties.html.twig" %}
        <!-- Properties Section End -->

        <!-- Services Section Begin -->
        {% include "homespace/services.html.twig"%}
        <!-- Services Section End -->

        <!-- Blog Section Begin -->
        {#{% include "homespace/blog.html.twig" %}#}
        <!-- Blog Section End -->
        
        <!-- Agents Section Begin -->
        {% include "homespace/agents.html.twig" %}
        <!-- Agents Section End -->
        
        <!-- See Properties Section Begin -->
        {% include "homespace/see.properties.html.twig" %}
        <!-- See Properties Section End -->
        
        <!-- Footer Section Begin -->
        {% include "homespace/footer.html.twig" %}
        <!-- Footer Section End -->
    </div>
    {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('assets/homespace/js/jquery-3.3.1.min.js') }}"></script>
            <script src="{{ asset('assets/homespace/js/jquery-migrate-3.0.1.min.js') }}"></script>
            <script src="{{ asset('assets/homespace/js/jquery-ui.js') }}"></script>
            <script src="{{ asset('assets/homespace/js/popper.min.js') }}"></script>
            <script src="{{ asset('assets/homespace/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/homespace/js/owl.carousel.min.js') }}"></script>
            <script src="{{ asset('assets/homespace/js/mediaelement-and-player.min.js') }}"></script>
            <script src="{{ asset('assets/homespace/js/jquery.stellar.min.js') }}"></script>
            <script src="{{ asset('assets/homespace/js/jquery.countdown.min.js') }}"></script>
            <script src="{{ asset('assets/homespace/js/jquery.magnific-popup.min.js') }}"></script>
            <script src="{{ asset('assets/homespace/js/bootstrap-datepicker.min.js') }}"></script>
            <script src="{{ asset('assets/homespace/js/aos.js') }}"></script>

            <script src="{{ asset('assets/homespace/js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
